$size__site-main: 100%;
$size__site-sidebar: 25%;

$margin_basic: 0 0 1.5em;

// Media query breakpoints (using bootstrap)
/*$break-screen-xs-min: '(min-width: $screen-xs-min)';
$break-screen-xs-max: '(max-width: $screen-xs-max)';
$break-screen-sm-min: '(min-width: $screen-sm-min)';
$break-screen-sm-max: '(max-width: $screen-sm-max)';
$break-screen-md-min: '(min-width: $screen-md-min)';
$break-screen-md-max: '(max-width: $screen-md-max)';
$break-screen-lg-min: '(min-width: $screen-lg-min)';
*/